<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stor4</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="top">
    <div class="nav">
        <h1> Test for You</h1>
        <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
</div>
<div class="function">
    <input type="button" class="back" value="Back">
    DELETE USER
</div>
<div class="content">
  <Form>
      *Name <input type=text placeholder="Name"><br>
      *Email <input type=text placeholder="E-mail address"><br>
      Phone <input type=text placeholder="Phone"><br>
      Mobile phone <input type=text placeholder="Mobile phone"><br>
      Status<select>
          <option>Active</option>
          <option>Inactive</option>
      </select>
      <br>
      <input type=submit value="Delete">
      
      
  </Form>
    
</div>

</body>
</html>