<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stor1</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="top">
    <div class="nav">
        <h1> Test for You</h1>
        <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
</div>
<div class="content">
    <table>
        <tr>
            <th class="col1">
                Name
            </th>
            <th class='col2'>
                Code
            </th>
       </tr>
        <tr>
            <td class="col1">Python-Base</td>
            <td class="col2">P45647</td>
        </tr>
        <tr>
            <td class="col1">Python-Database</td>
            <td class="col2">P78947</td>
        </tr>
    </table>
</div>
</body>
</html>