<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stor2</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="top">
    <div class="nav">
        <h1> Test for You</h1>
        <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
</div>
<div class="function">
    <input type="button" class="useradd" value="+">
    <input type="text" class="search" placeholder="Search">
    USERS
    <select>
        <option>10</option>
        <option>20</option>
        <option>30</option>
    </select>
    
</div>
<div class="content">
    <table>
        <tr>
            <th class="col2">
                Name
            </th>
            <th class='col2'>
                Email
            </th>
            <th class='col2'>
                Status
            </th>
            <th class='col2'>
                Action
            </th>
       </tr>
        <tr>
            <td class="col2">test</td>
            <td class="col2">test@test.com</td>
            <td class="col2">Active</td>
            <td class="col2">
            <input type="button" value="Edit">
            <input type="button" value="Delete">
            </td>
        </tr>
         <tr>
            <td class="col2">test</td>
            <td class="col2">test@test.com</td>
            <td class="col2">Active</td>
            <td class="col2">
            <input type="button" value="Edit">
            <input type="button" value="Delete">
            </td>
        </tr>
</table>
</div>
<div class="bottom">
    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ul>
</div>
</body>
</html>